<template>
  <button class="gen-button">
      <a>{{text}}</a>
  </button>
</template>

<script>
// @ is an alias to /src

export default {
    props: ['text'],
  data() {
      return {
          

      }
  },
}
</script>
