<template>
  <div class="dashboard">
      <section class="d-flex flex-wrap">
      <div class="gen-card">
          <div class="header">
            <p class="mb-0">Pemasukan</p>
             <b-dropdown text="Hari"  class="mr-2" right>
              
            <b-dropdown-item href="#">Hari</b-dropdown-item>
            <b-dropdown-item href="#">Bulan</b-dropdown-item>
            <b-dropdown-item href="#">Tahun</b-dropdown-item>
          </b-dropdown>

          </div>

          <div class="body">
            <p >+ Rp 530.000</p>
          </div>
      </div>

      <div class="gen-card">
          <div class="header">
            <p class="mb-0">Pengeluaran</p>
             <b-dropdown text="Hari"  class="mr-2" right>
              
            <b-dropdown-item href="#">Hari</b-dropdown-item>
            <b-dropdown-item href="#">Bulan</b-dropdown-item>
            <b-dropdown-item href="#">Tahun</b-dropdown-item>
          </b-dropdown>

          </div>

          <div class="body">
            <p >- Rp 530.000</p>
          </div>
      </div>
      </section>

      <section class="reminder mt-5">
          <p class="font-weight-bold">Reminders</p>
          <div class="tabel-reminder">
           <b-table striped hover :items="items" borderless></b-table>

          </div>
      </section>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  data() {
      return {
        items: [
          { Jobs: "Kardus 1000pcs ", Pemesan: 'Pak Joko', Pesanan: '12 feb 2021', Deadline: '20 feb 2021' },
          { Jobs: "Kardus 2000pcs ", Pemesan: 'Mbah Sri', Pesanan: '17 feb 2021', Deadline: '29 feb 2021' },
          { Jobs: "MMT 3 meter ", Pemesan: 'Ibnu', Pesanan: '18 feb 2021', Deadline: '30 feb 2021' },
        ]
      }
    }
}
</script>
