<template>
  <div class="home">
      Revenue

      <div class="d-flex">
        <Button text="asu"></Button>

      </div>
  </div>
</template>

<script>
import Button from './component/Button.vue'

export default {
  components : {
    Button
  }
}
</script>
