<template>
  <div>
    <div class="d-flex">
      <div :class="{ sidebar: true, isOpen: isOpen }">
        <div class="d-flex">
          <div :class="{header: true, isOpen: isOpen}">
            <a class="action-header" v-on:click="mouseOver"
              ><span v-if="isOpen" class="mdi mdi-chevron-left"></span
              ><span v-else class="mdi mdi-chevron-right"></span
            ></a>
            <h1 class="header-text">Bigger</h1>
          </div>
        </div>

        <div class="menu">
          <router-link to="/" class="menu-item"
            ><span class="mdi mdi-home-outline mr-2"></span
            ><span class="menu-text">Dashboard</span></router-link
          >
          <router-link to="/pemasukan" class="menu-item "
            ><span class="mdi mdi-currency-usd mr-2"></span
            ><span class="menu-text">Revenue</span></router-link
          >
          <router-link to="/pengeluaran" class="menu-item "
            ><span class="mdi mdi-cart-outline mr-2"></span
            ><span class="menu-text">Expenses</span></router-link
          >
          <router-link to="/pengingat" class="menu-item "
            ><span class="mdi mdi-clipboard-outline mr-2"></span
            ><span class="menu-text">Reminders</span></router-link
          >
        </div>
      </div>

      <div style="width: 100%">
        <div class="toolbar">
          <div class="welcome">
            <h1>Hi, Pradana Mahendra, Have a nice day :)</h1>
          </div>
          <div class="flex-spacer"></div>

          <b-dropdown  class="mr-2" right>
            <template #button-content>
              <b-avatar
                class="profil"
                src="https://cdn.idntimes.com/content-images/community/2020/02/5b664c099a1cd-a377d9e6b0576569d91305696ec952f3-copy-3df2a97e48424d94ac73dad9501c1a2c_600x400.jpg"
              ></b-avatar>
            </template>
            <b-dropdown-item href="#">An item</b-dropdown-item>
            <b-dropdown-item href="#">Another item</b-dropdown-item>
          </b-dropdown>
        </div>
    <router-view class="m-3"/>

      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data() {
    return {
      isOpen: true,
    };
  },
  methods: {
    mouseOver: function() {
      this.isOpen = !this.isOpen;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
